.form{
  &__Group{
    flex-flow: wrap;
  }
  &__Field{
    width: 30% !important;
    margin-bottom: 10px !important;
    height: 90px;
    &_flex{
      flex: .1 0 auto !important;
      margin-top: 20px !important;
    }
    & input{
      border-radius: 7px !important;
      &:focus{
        border:1px solid #cccccc !important;
      }
    }
  }
  &__checkbox{
    margin: 20px 0 !important;
  }
  &__passengerInfo{
    margin-top: 20px;
    display: flex;
    width: 100%;
    padding: 0 7px;
    justify-content: flex-start;
    &:first-child{
      margin-right: 10px !important;
    }
  }
  &__errorField{
    display: block;
    width: 100%;
    padding: 0 7px;
  }
  &__buttons{
    margin-top: 20px;
  }
}
.checkboxField{
  display: flex !important;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover input ~ span {
    background-color: #ccc;
  }
  input{
    margin-right: 10px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    & ~ span {
      background-color: #ccc;
    }
    &:checked ~ span {
      background-color: #ccc;
    }
  }
  span{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid #000;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }


  input:checked ~ span:after {
    display: block;
  }

}
.containerForm{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  &__col{

  }
}

.navUser{
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 40px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 40px -16px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 40px -16px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin:20px;
  padding: 20px;
  &__icon{
    font-size: 50px !important;
    color: #444;
    margin-top: 20px !important;
  }
  &__title{
    font-size: 18px;
    letter-spacing: 1px;
  }
  &__usersList{

  }
  &__buttons{
    margin-top: 20px;
  }
}

.usersList{

  &__textActive{
  }
  &__text{

  }
  &__item{
    background: #ccc;
    padding: 10px;
    opacity: .6;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 7px;
    transition: all .2s;
    &:hover{
      background: #9e9b9b;
    }
    &_success{
      background: rgba(33, 179, 52, 0.8);
      color: #FFFFFF;
      &:hover{
        background: rgba(0, 137, 21, 0.8);
      }
    }
  }
  &__title{
    margin-bottom: 5px;
  }
}